{% extends "base.html" %}

{% from "macros/button_macros.html" import action_button, delete_button %}
{% from "macros/rating_macros.html" import star_rating_display %}

{% block title %}Your posts{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ static('styles/components/button.css') }}">
<link rel="stylesheet" href="{{ static('styles/components/card.css') }}">
<link rel="stylesheet" href="{{ static('styles/components/star_rating.css') }}">
{% endblock %}

{% block content %}
<section class="flex --column --align-start">
    <h2 class="headline-xl mb-xl">Your feed</h2>

    {% if user.is_authenticated %}
        <div class="mb-xl">
            <a class="primary-btn mr-3xl" href="{{ url('tickets:create') }}">Create a ticket</a>
            <a class="primary-btn" href="{{ url('tickets:create_with_review') }}">Create a review</a>
        </div>
    {% endif %}

    {% if posts %}
        {% for post in posts %}
            <article class="classic_card p-lg mb-lg width-100">
                {% if post.__class__.__name__ == "Review" %}
<!--                 displaying review and its ticket -->
                    <header class="flex --space-between --align-center mb-md">
                        <h3 class="headline-lg">
                            {% if user == post.user %}
                                You
                            {% else %}
                                {{ post.user.username }}
                            {% endif %}
                            have published a review
                        </h3>
                        <time class="body-xs help-text">{{ post.time_created.strftime('%d.%m.%Y à %H:%M') }}</time>
                    </header>

                    <div class="mb-lg">
                        <h4 class="card-title-lg mb-sm">{{ post.title }}</h4>

                        <div class="mb-md">
                            {{ star_rating_display(post.rating) }}
                        </div>

                        {% if post.content %}
                            <p class="body-md mb-md">{{ post.content }}</p>
                        {% endif %}

                    </div>

<!--                ticket related to review -->
                    <div class="classic_card p-md" style="background-color: var(--color-grey-light);">
                        <header class="flex --space-between --align-center mb-sm">
                            <small class="body-xs semi-bold">Ticket - {{ post.ticket.user.username }}</small>
                            <time class="body-2xs help-text">{{ post.ticket.time_created.strftime('%d.%m.%Y à %H:%M') }}</time>
                        </header>

                        <h5 class="card-title-md mb-sm">{{ post.ticket.title }}</h5>

                        {% if post.ticket.content %}
                            <p class="body-sm mb-sm">{{ post.ticket.content }}</p>
                        {% endif %}

                        {% if post.ticket.image %}
                            <div class="ticket-image">
                                <img src="{{ post.ticket.image.url }}" alt="Ticket image" class="border-radius-md" style="max-width: 200px; height: auto;">
                            </div>
                        {% endif %}
                    </div>

                {% else %}
<!--                display a ticket alone -->
                    <header class="flex --space-between --align-center mb-md">
                        <h3 class="headline-lg">
                            {% if user == post.user %}
                                You
                            {% else %}
                                {{ post.user.username }}
                            {% endif %}
                            have published a ticket
                        </h3>
                        <time class="body-xs help-text">{{ post.time_created.strftime('%d.%m.%Y à %H:%M') }}</time>
                    </header>

                    <div>
                        <h4 class="card-title-lg mb-sm">{{ post.title }}</h4>

                        {% if post.content %}
                            <p class="body-md mb-md">{{ post.content }}</p>
                        {% endif %}

                        {% if post.image %}
                            <div class="mb-md">
                                <img src="{{ post.image.url }}" alt="Ticket image" class="border-radius-md" style="max-width: 200px; height: auto;">
                            </div>
                        {% endif %}

                        {% if user != post.user %}
                        <div class="flex --flex-start">
                            <a class="secondary-btn mr-sm" href="{{ url('review:create', args=[post.id]) }}">Create
                                a review</a>
                            {{ delete_button(url('tickets:delete', args=[post.id]), csrf_input, 'ticket') }}
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </article>
        {% endfor %}


    {% else %}
        <div class="classic_card p-2xl text-align-center">
            <h3 class="headline-lg mb-lg">You, or your the others users you follow, did not publish any post</h3>
            <p class="body-md help-text mb-lg">Create a ticket to ask for a review.</p>
            <a class="primary-btn" href="{{ url('tickets:create') }}">Create a ticket</a>
        </div>
    {% endif %}
</section>
{% endblock %}
