{% extends 'base.html' %}

{% from 'macros/form_macros.html' import render_field %}
{% from 'macros/button_macros.html' import action_button, delete_button %}

{% block title %}
    Subscriptions - LitReview
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ static('styles/components/button.css') }}">
    <link rel="stylesheet" href="{{ static('styles/components/form.css') }}">
{% endblock %}

{% block content %}
<section class="flex --column --align-start">
    <h2 class="headline-xl mb-lg">Subscriptions management</h2>

    <!-- From to follow a user -->
    <div class="mb-xl width-30">
        <h3 class="headline-lg mb-md">Follow a user</h3>
        <form class="form-global" method="post">

            {{ csrf_input|safe }}
            {{ render_field(form.username, css_class="form-input") }}

            {% if form.non_field_errors() %}
                <div class="bold error-text mt-sm">
                    {% for error in form.non_field_errors() %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            {{ action_button(primary_text="Subscribe") }}
        </form>
    </div>

    <!-- List of followings -->
    <div class="mb-xl">
        <h3 class="headline-lg mb-md">My subsciptions</h3>
        {% if following %}
            <p>You follow {{ following|length }} user{% if following|length > 1 %}s{% endif %}.</p>
        {% endif %}
        <div>
            {% if not following %}
                <p>You do not follow anyone.</p>
            {% else %}
                {% for subscription in following %}
                    <div class="flex --space-between --align-center mb-sm p-md border">
                        <span>{{ subscription.followed.username }}</span>
                        {{
                        delete_button(
                            url('feed:subscription_delete', args=[subscription.pk]),
                            csrf_input,
                            item_type="subscription",
                            button_text="Unfollow",
                            css_class="secondary-btn"
                            )
                        }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- List of followers -->
    <div class="mb-xl">
        <h3 class="headline-lg mb-md">My followers</h3>
        {% if followers %}
            <p>{{ followers|length }} user{% if following|length > 1 %}s{% endif %} follow you currently.</p>
        {% endif %}
        <div>
            {% if not followers %}
                <p>No one follow you.</p>
            {% else %}
                {% for subscription in followers %}
                    <div class="flex --space-between --align-center mb-sm p-md border">
                        <span>{{ subscription.follower.username }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
