{% extends 'base.html' %}

{% from 'macros/form_macros.html' import render_field %}
{% from 'macros/button_macros.html' import action_button %}

{% block title %}
    {% if ticket %}Update a{% else %}Create a{% endif %} ticket - LitReview
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ static('styles/components/button.css') }}">
    <link rel="stylesheet" href="{{ static('styles/components/form.css') }}">
{% endblock %}

{% block content %}
<section class="flex --column --align-start">
    <h2 class="headline-xl mb-lg">
        {% if ticket %}Update a{% else %}Create a{% endif %} ticket
    </h2>

    <form class="form-global width-100" method="post" enctype="multipart/form-data">
        {{ csrf_input|safe }}
<!--        title field-->
        {{ render_field(form.title, css_class="form-input") }}

<!--        content field-->
        {{ render_field(form.content, css_class="form-text-area", rows=6) }}

        {% if ticket and ticket.image %}
        <div class="current-image mt-sm">
            <p class="body mb-sm">Current image:</p>
            <img src="{{ ticket.image.url }}" alt="Current ticket image" style="max-width: 200px; height: auto;" class="border-radius-md">
        </div>
        {% endif %}

<!--        import image field-->
        {{ render_field(form.image, css_class="form-input", accept="image/webp,image/png"
) }}


<!--        error displaying in form-->
        {% if form.non_field_errors() %}
            <div class="bold error-text mt-sm">
                {% for error in form.non_field_errors() %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

<!--        actions buttons-->
        {{ action_button(
            primary_text=("Update" if ticket else "Post"),
            cancel_url=url('feed:feed_posts'),
            cancel_text="Cancel"
        ) }}
    </form>
</section>
{% endblock %}
