{% extends 'base.html' %}
{% load static %}

{% block title %}
    Créer un ticket - LitReview
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/ticket_form.css' %}">
{% endblock %}

{% block content %}
<section class="flex --column --align-start">
    <h2 class="headline-xl mb-lg">
        Créer un ticket
    </h2>

    <form class="form-global width-100" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-md width-50">
            <label class="block mb-xs" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            {{ form.title }}
            {% if form.title.errors %}
                <span class="form-error">{{ form.title.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="mb-md width-80">
            <label class="block mb-xs" for="{{ form.description.id_description }}">{{ form.description.label }}</label>
            {{ form.description }}
            {% if form.description.errors %}
                <span class="form-error">{{ form.description.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="mb-md">
            <label class="block mb-xs" for="{{ form.image.id_image }}">{{ form.image.label }}</label>
            {{ form.image }}
            {% if form.image.errors %}
                <span class="form-error">{{ form.image.errors.0 }}</span>
            {% endif %}
        </div>

        {% if form.non_field_errors %}
            <div class="form-error bold mb-md">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="flex --flex-start mb-md">
            <a class="primary-btn" href="{% url 'tickets:list' %}">
                Annuler
            </a>
            <button class="primary-btn ml-lg" type="submit">
                Envoyer
            </button>
        </div>
    </form>
</section>
{% endblock %}
