TODO
.venv
.idea/
HTTP Request.http

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore virtual environments
venv/
env/

# ignore data uploaded by user
media/*

# ignore local dev DB
db.sqlite3
