:root {
    --color-white: #ffffff;
    --color-grey: #D7DDE6;
    --color-grey-light: #ECEFF3;
    --color-dark: #171717;
    --color-dark-cyan: #28555E;
    --color-high-light: #d29500;
    --color-accent: #FAF5E6;
}
