.block {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex.--column {
    flex-direction: column;
}

.flex.--space-between {
    justify-content: space-between;
}

.flex.--space-evenly {
    justify-content: space-evenly;
}

.flex.--flex-end {
    justify-content: flex-end;
}

.flex.--flex-start {
    justify-content: flex-start;
}

.flex.--align-start {
    align-items: start;
}

.wrap {
    flex-wrap: wrap;
}

.text-align-center {
    text-align: center;
}
