.block {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex.--column {
    flex-direction: column;
}

.flex.--space-between {
    justify-content: space-between;
}

.flex.--space-evenly {
    justify-content: space-evenly;
}

.flex.--space-around {
    justify-content: space-around;
}

.flex.--flex-end {
    justify-content: flex-end;
}

.flex.--flex-start {
    justify-content: flex-start;
}

.flex.--align-start {
    align-items: start;
}

.flex.--align-stretch {
    align-items: stretch;
}

.flex-el {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

.max-width-60 {
    max-width: 60%;
}

.max-width-50 {
    max-width: 50%;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}
