.width-100-vw {
    width: 100vw;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.height-100 {
    height: 100%;
}

.max-height-100 {
    max-height: 100%;
}

.min-height-100-vh {
    min-height: 100vh;
}
