:root {
    --spacing-5xl: 96px;
    --spacing-4xl: 80px;
    --spacing-3xl: 64px;
    --spacing-2xl: 48px;
    --spacing-xl: 32px;
    --spacing-lg: 24px;
    --spacing-md: 16px;
    --spacing-sm: 12px;
    --spacing-xs: 8px;
    --spacing-2xs: 4px;
    --spacing-3xs: 2px;
}

/* ************************ */
/*  MARGINS                 */
/* ************************ */

.ml-3xl {
    margin-left: var(--spacing-3xl);
}

.mr-3xl {
    margin-right: var(--spacing-3xl);
}

.mt-xl {
    margin-top: var(--spacing-xl);
}

.mb-xl {
    margin-bottom: var(--spacing-xl);
}

.mb-lg {
    margin-bottom: var(--spacing-lg);
}

.ml-lg {
    margin-left: var(--spacing-lg);
}

.mb-md {
    margin-bottom: var(--spacing-md);
}

.mt-sm {
    margin-top: var(--spacing-sm);
}

.mb-sm {
    margin-bottom: var(--spacing-sm);
}

.ml-sm {
    margin-left: var(--spacing-sm);
}

.mr-sm {
    margin-right: var(--spacing-sm);
}

.mb-xs {
    margin-bottom: var(--spacing-xs);
}

/* ************************ */
/*  PADDINGS                */
/* ************************ */

.p-3xl {
    padding: var(--spacing-3xl);
}

.p-2xl {
    padding: var(--spacing-2xl);
}

.p-lg {
    padding: var(--spacing-lg);
}

.p-md {
    padding: var(--spacing-md);
}

.pr-5xl {
    padding-right: var(--spacing-5xl);
}

.pl-5xl {
    padding-left: var(--spacing-5xl);
}
