.form-global {
    background-color: var(--color-white);
    border-radius: var(--border-radius-sm);
}

.form-input {
    padding: var(--spacing-sm);
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius-lg);
    width: 100%;
    margin-bottom: var(--spacing-md);
}

.form-text-area {
    padding: var(--spacing-sm);
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius-lg);
    width: 100%;
    margin-bottom: var(--spacing-md);
}
