.form-global {
    background-color: var(--white);
    border-radius: var(--border-radius-sm);
}

.form-input {
    padding: var(--spacing-sm);
    border: 1px solid var(--grey);
    border-radius: var(--border-radius-sm);
    width: 100%;
}

.form-text-area {
    padding: var(--spacing-sm);
    border: 1px solid var(--grey);
    border-radius: var(--border-radius-sm);
    width: 100%;
}
