.form-global {
    padding: var(--spacing-md);
    background-color: var(--color-white);
    border-radius: var(--border-radius-lg);

}

.form-input {
    padding: var(--spacing-sm);
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius-xl);
    margin-bottom: var(--spacing-md);
    width: 100%;
}

.form-text-area {
    padding: var(--spacing-sm);
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius-lg);
    margin-bottom: var(--spacing-md);
    width: 100%;
}
