
{% extends 'base.html' %}

{% from 'macros/form_macros.html' import render_field %}
{% from 'macros/button_macros.html' import action_buttons %}

{% block title %}Inscription - LitReview{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ static('css/ticket_form.css') }}">
    <link rel="stylesheet" href="{{ static('styles/components/button.css') }}">
    <link rel="stylesheet" href="{{ static('styles/components/form.css') }}">
{% endblock %}

{% block content %}
<section class="flex --column --align-start">
    <h2 class="headline-xl mb-lg">Inscription</h2>
    <div class="flex">
        <form class="flex --column --space-evenly --align-start" method="post">
<!--        username field-->
            {{ render_field(form.username, css_class="form-input") }}
<!--        password field-->
            {{ render_field(form.password1, css_class="form-input") }}
<!--        repeating password field-->
            {{ render_field(form.password2, css_class="form-input") }}
<!--        error displaying in form-->
            {% if form.non_field_errors() %}
                <div class="bold error-text mt-sm">
                    {% for error in form.non_field_errors() %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            {{ action_buttons(
                primary_text="S'inscrire",
                cancel_url=url('authentication:login'),
                cancel_text="Déjà un compte ? Se connecter"
            ) }}
        </form>
    </div>
</section>
{% endblock %}
