<header class="header flex --space-between p-md">
    <h1 class="headline-xl"><a href="#">LITReview</a></h1>
    {% if user.is_authenticated %}
        <p class="ml-3xl"> Welcome {{ user.username }} !</p>
    {% endif %}
    <nav class="header-nav flex">
            <a class="ml-lg" href="{{ url('feed:feed_posts') }}">Feed</a>
            <a class="ml-lg" href="{{ url('feed:user_posts') }}">Posts</a>
            <a class="ml-lg" href="{{ url('feed:subscriptions') }}">Subscription</a>
        {% if user.is_authenticated %}
            <form class="ml-lg" method="post" action="{{ url('authentication:logout') }}">
                {{ csrf_input|safe }}
                {{ action_button(primary_text="Log out") }}
            </form>
        {% else %}
            <a class="ml-lg" href="{{ url('authentication:login')}}">Log in</a>
        {% endif %}
    </nav>

</header>
